name: Build gl4es for HarmonyOS

on: [push]

jobs:
  build_gl4es:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup HarmonyOS NDK
      run: |
        echo "Downloading SDK..."
        wget -q https://repo.huaweicloud.com/openharmony/os/6.0.0.1-Release/ohos-sdk-windows_linux-public.tar.gz
        mkdir temp_sdk
        tar -xzf ohos-sdk-windows_linux-public.tar.gz -C temp_sdk
        NATIVE_ZIP=$(find temp_sdk -name "native-linux-x64-*.zip" | head -n 1)
        mkdir -p ohos-sdk
        unzip -q "$NATIVE_ZIP" -d ohos-sdk
        echo "OHOS_NDK_HOME=$(pwd)/ohos-sdk/native" >> $GITHUB_ENV

    - name: Clone gl4es
      run: |
        git clone https://github.com/ptitSeb/gl4es.git
        
    - name: Compile gl4es
      run: |
        cd gl4es
        mkdir build
        cd build
        TOOLCHAIN=$(find $OHOS_NDK_HOME -name "ohos.toolchain.cmake" | head -n 1)
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE="$TOOLCHAIN" \
          -DOHOS_ARCH=arm64-v8a \
          -DCMAKE_BUILD_TYPE=Release \
          -DDEFAULT_ES=2 \
          -DLIBGL_ES=2 \
          -DNOX11=ON \
          -DNO_GBM=ON \
          -DSTATICLIB=OFF \
          -DSHAREDLIB=ON
        make -j4
        ls -lh ../lib/

    - name: Upload Result
      uses: actions/upload-artifact@v4
      with:
        name: gl4es-libs
        path: gl4es/lib/
